<!DOCTYPE html><html lang="en"><head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script data-ad-client="ca-pub-1044322610224848" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="icon" type="jpg" href="/images\icon.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="icon" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;600&amp;display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-BCB39KBWPW"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-BCB39KBWPW');
</script></head>



<!-- Global site tag (gtag.js) - Google Analytics -->




<body>








  <div class="nav">
    <div class="top-div">
      <a href="/users/signup" class="btn btn-success signup-btn"> Sign Up </a>
      <a href="/users/">
        <h4>League of Series</h4>
      </a>
      <form action="/users/search" method="post">
      </form>
    </div>
  </div>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="home">
                <img class="homeimg" src="https://res.cloudinary.com/gbrozdev/image/upload/v1635680900/20211031_170836_g0ovgn.jpg" alt="image">
                <a href="/about">
                    <h4>Be the Part of Kerala Cinephles Family Now</h4>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="home">
                <img class="homeimg" src="https://wallpapercave.com/wp/wp9153771.jpg" alt="image">
                <a href="/users/blog/617d741c24dfb8fadfe3c540">
                    <h4>Game of Throne Malayalam Review</h4>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="auth-name"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container">
    <div class="row ">

        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp8112495.jpg">
            <div class="text">
                <a href="/users/blog/617d752924dfb8fadfe3c541">
                    <h5>Breaking Bad Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp4457458.jpg">
            <div class="text">
                <a href="/users/blog/617d764f24dfb8fadfe3c542">
                    <h5>Chernobyl Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp4056399.jpg">
            <div class="text">
                <a href="/users/blog/617d7bd124dfb8fadfe3c546">
                    <h5>Dark Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp9153771.jpg">
            <div class="text">
                <a href="/users/blog/617d741c24dfb8fadfe3c540">
                    <h5>Game of Throne Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp3999808.jpg">
            <div class="text">
                <a href="/users/blog/617d79b024dfb8fadfe3c544">
                    <h5>Lost Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp7241877.jpg">
            <div class="text">
                <a href="/users/blog/617d721024dfb8fadfe3c53e">
                    <h5>Money Heist Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp1890591.jpg">
            <div class="text">
                <a href="/users/blog/617d738424dfb8fadfe3c53f">
                    <h5>Peaky Blinders Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp4341443.jpg">
            <div class="text">
                <a href="/users/blog/617d772724dfb8fadfe3c543">
                    <h5>Sex Education Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp1839579.jpg">
            <div class="text">
                <a href="/users/blog/617d6bd524dfb8fadfe3c53d">
                    <h5>Stranger things Malayalam review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp2433585.jpg">
            <div class="text">
                <a href="/users/blog/617d7d2924dfb8fadfe3c547">
                    <h5>West world Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<a href="/users/signup" class="bot-div">
    <h1>+</h1>
</a>


<style>
    .auth-name {
        font-weight: 600;
    }
</style>

<style>
    @media only screen and (min-width: 601px) {
        .text h6 {
            color: rgb(0, 170, 0);
            font-weight: 600;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        a,
        a:hover {
            text-decoration: none;
            color: white;
            text-decoration: none
        }

        .author {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        .author img {
            border-radius: 100px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            object-fit: cover;
        }

        .text h4 {
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(0, 0, 0)
        }

        .text p {
            font-family: cursive;
            font-size: 10px;
            color: rgb(0, 0, 0);
            margin-top: 10px;
        }

        .text h5 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        .text {
            width: 70%;
        }

        .row {
            align-items: center;
        }

        .blog-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 30vw;
            height: 18%;
            padding: 15px;
            background-color: rgb(235, 235, 235);
            margin-left: 3vw;
            margin-right: 2vw;
            border-radius: 0.5rem;
        }

        .blog-img {
            width: 30%;
            height: 15vh;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 5%;
        }

        .bot-div {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            position: fixed;
            bottom: 5%;
            right: 3%;
            background-color: #0db8ec;
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 10rem;
            margin: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .home {
            margin-top: 15px;
            padding: 10px;
            border-radius: 1rem;
            width: 100%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .home h4 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 20px;
            margin: 5px;
            font-weight: 600;
        }

        .homeimg {
            width: 80%;
            height: 50vh;
            border-radius: 0.7rem;
            object-fit: cover;
            margin-bottom: 10px;
        }
    }
</style>


<style>
    @media only screen and (max-width: 600px) {
        .container{
            padding: 0;
        }
        .text h6 {
            color: rgb(0, 170, 0);
            font-weight: 600;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .auth-name {
            color: rgb(0, 170, 0);
        }

        a,
        a:hover {
            text-decoration: none;
            color: white;
            text-decoration: none
        }

        .author {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        .author img {
            border-radius: 100px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            object-fit: cover;
        }

        .text h4 {
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(0, 170, 0);
        }

        .text p {
            font-family: cursive;
            font-size: 10px;
            color: rgb(0, 0, 0);
            margin-top: 10px;
        }

        .text h5 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        .text {
            width: 70%;
        }

        .row {
            align-items: center;
        }

        .blog-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
            width: 100%;
            height: 18%;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
        }

        .blog-img {
            width: 30%;
            height: 12vh;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 5%;
        }

        .bot-div {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            position: fixed;
            bottom: 3%;
            right: 3%;
            background-color: #0db8ec;
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 10rem;
            margin: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .home {
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 1rem;
            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        } 

        .home h4 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 18px;
            margin: 5px;
            font-weight: 600;
        }

        .homeimg {
            margin-bottom: 10px;
            width: 100%;
            height: 30vh;
            border-radius: 0.5rem;
            object-fit: cover;
        }
    }
</style>


  <div class="bottom-div">
  </div>

  <script src="//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js"></script>

  <style>
    .share-btn>a {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 12px;
      font-family: Verdana, Arial;
    }

    .share-btn>a:hover {
      cursor: pointer;
    }

    .bottom-div small {
      font-size: 10px;
      margin-top: 5px;
    }

    .tags a {
      margin-left: 10px;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: green;
    }

    .bottom-div {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }



    a {
      text-decoration: none;
      color: white;
    }


    a,
    a:hover {
      text-decoration: none;
      color: rgb(0, 0, 0);
      text-decoration: none
    }

    .top-div img {
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 100px;
      width: 40px;
      height: 40px;
    }

    .signup-btn {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      top: 15px;
      right: 10px;
      width: 100px;
      height: 40px;
      font-weight: 600;
    }

    .search-btn {
      position: absolute;
      top: 15px;
      right: 25%;
      width: 5%;
      height: 40px;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      border: none;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    .search-btn:focus {
      width: 70%;
      padding-left: 10px;
      border: none;
      outline: none;

    }

    .top-div h4 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      color: #000000;
      padding: 20px;
      padding-left: 5%;
    }

    .top-div {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 70px;
      background-color: white;
    }
  </style>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body></html><!DOCTYPE html><html lang="en"><head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script data-ad-client="ca-pub-1044322610224848" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="icon" type="jpg" href="/images\icon.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="icon" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;600&amp;display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-BCB39KBWPW"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-BCB39KBWPW');
</script></head>



<!-- Global site tag (gtag.js) - Google Analytics -->




<body>








  <div class="nav">
    <div class="top-div">
      <a href="/users/signup" class="btn btn-success signup-btn"> Sign Up </a>
      <a href="/users/">
        <h4>League of Series</h4>
      </a>
      <form action="/users/search" method="post">
      </form>
    </div>
  </div>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="home">
                <img class="homeimg" src="https://res.cloudinary.com/gbrozdev/image/upload/v1635680900/20211031_170836_g0ovgn.jpg" alt="image">
                <a href="/about">
                    <h4>Be the Part of Kerala Cinephles Family Now</h4>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="home">
                <img class="homeimg" src="https://wallpapercave.com/wp/wp9153771.jpg" alt="image">
                <a href="/users/blog/617d741c24dfb8fadfe3c540">
                    <h4>Game of Throne Malayalam Review</h4>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="auth-name"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container">
    <div class="row ">

        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp8112495.jpg">
            <div class="text">
                <a href="/users/blog/617d752924dfb8fadfe3c541">
                    <h5>Breaking Bad Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp4457458.jpg">
            <div class="text">
                <a href="/users/blog/617d764f24dfb8fadfe3c542">
                    <h5>Chernobyl Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp4056399.jpg">
            <div class="text">
                <a href="/users/blog/617d7bd124dfb8fadfe3c546">
                    <h5>Dark Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp9153771.jpg">
            <div class="text">
                <a href="/users/blog/617d741c24dfb8fadfe3c540">
                    <h5>Game of Throne Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp3999808.jpg">
            <div class="text">
                <a href="/users/blog/617d79b024dfb8fadfe3c544">
                    <h5>Lost Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp7241877.jpg">
            <div class="text">
                <a href="/users/blog/617d721024dfb8fadfe3c53e">
                    <h5>Money Heist Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp1890591.jpg">
            <div class="text">
                <a href="/users/blog/617d738424dfb8fadfe3c53f">
                    <h5>Peaky Blinders Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp4341443.jpg">
            <div class="text">
                <a href="/users/blog/617d772724dfb8fadfe3c543">
                    <h5>Sex Education Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/dwp1x/wp1839579.jpg">
            <div class="text">
                <a href="/users/blog/617d6bd524dfb8fadfe3c53d">
                    <h5>Stranger things Malayalam review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="blog-div col-12 col-md-5 ">
            <img class="blog-img" src="https://wallpapercave.com/wp/wp2433585.jpg">
            <div class="text">
                <a href="/users/blog/617d7d2924dfb8fadfe3c547">
                    <h5>West world Malayalam Review</h5>
                </a>
                <div class="author">
                    <a href="/users/profile/617d68533dddcd8603bf8bd4">
                        <h6 class="s"> msone</h6>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<a href="/users/signup" class="bot-div">
    <h1>+</h1>
</a>


<style>
    .auth-name {
        font-weight: 600;
    }
</style>

<style>
    @media only screen and (min-width: 601px) {
        .text h6 {
            color: rgb(0, 170, 0);
            font-weight: 600;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        a,
        a:hover {
            text-decoration: none;
            color: white;
            text-decoration: none
        }

        .author {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        .author img {
            border-radius: 100px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            object-fit: cover;
        }

        .text h4 {
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(0, 0, 0)
        }

        .text p {
            font-family: cursive;
            font-size: 10px;
            color: rgb(0, 0, 0);
            margin-top: 10px;
        }

        .text h5 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        .text {
            width: 70%;
        }

        .row {
            align-items: center;
        }

        .blog-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 30vw;
            height: 18%;
            padding: 15px;
            background-color: rgb(235, 235, 235);
            margin-left: 3vw;
            margin-right: 2vw;
            border-radius: 0.5rem;
        }

        .blog-img {
            width: 30%;
            height: 15vh;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 5%;
        }

        .bot-div {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            position: fixed;
            bottom: 5%;
            right: 3%;
            background-color: #0db8ec;
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 10rem;
            margin: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .home {
            margin-top: 15px;
            padding: 10px;
            border-radius: 1rem;
            width: 100%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .home h4 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 20px;
            margin: 5px;
            font-weight: 600;
        }

        .homeimg {
            width: 80%;
            height: 50vh;
            border-radius: 0.7rem;
            object-fit: cover;
            margin-bottom: 10px;
        }
    }
</style>


<style>
    @media only screen and (max-width: 600px) {
        .container{
            padding: 0;
        }
        .text h6 {
            color: rgb(0, 170, 0);
            font-weight: 600;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .auth-name {
            color: rgb(0, 170, 0);
        }

        a,
        a:hover {
            text-decoration: none;
            color: white;
            text-decoration: none
        }

        .author {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        .author img {
            border-radius: 100px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            object-fit: cover;
        }

        .text h4 {
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(0, 170, 0);
        }

        .text p {
            font-family: cursive;
            font-size: 10px;
            color: rgb(0, 0, 0);
            margin-top: 10px;
        }

        .text h5 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        .text {
            width: 70%;
        }

        .row {
            align-items: center;
        }

        .blog-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
            width: 100%;
            height: 18%;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
        }

        .blog-img {
            width: 30%;
            height: 12vh;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 5%;
        }

        .bot-div {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            position: fixed;
            bottom: 3%;
            right: 3%;
            background-color: #0db8ec;
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 10rem;
            margin: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .home {
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 1rem;
            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        } 

        .home h4 {
            font-family: 'Noto Sans Malayalam', sans-serif;
            font-size: 18px;
            margin: 5px;
            font-weight: 600;
        }

        .homeimg {
            margin-bottom: 10px;
            width: 100%;
            height: 30vh;
            border-radius: 0.5rem;
            object-fit: cover;
        }
    }
</style>


  <div class="bottom-div">
  </div>

  <script src="//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js"></script>

  <style>
    .share-btn>a {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 12px;
      font-family: Verdana, Arial;
    }

    .share-btn>a:hover {
      cursor: pointer;
    }

    .bottom-div small {
      font-size: 10px;
      margin-top: 5px;
    }

    .tags a {
      margin-left: 10px;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: green;
    }

    .bottom-div {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }



    a {
      text-decoration: none;
      color: white;
    }


    a,
    a:hover {
      text-decoration: none;
      color: rgb(0, 0, 0);
      text-decoration: none
    }

    .top-div img {
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 100px;
      width: 40px;
      height: 40px;
    }

    .signup-btn {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      top: 15px;
      right: 10px;
      width: 100px;
      height: 40px;
      font-weight: 600;
    }

    .search-btn {
      position: absolute;
      top: 15px;
      right: 25%;
      width: 5%;
      height: 40px;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      border: none;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    .search-btn:focus {
      width: 70%;
      padding-left: 10px;
      border: none;
      outline: none;

    }

    .top-div h4 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      color: #000000;
      padding: 20px;
      padding-left: 5%;
    }

    .top-div {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 70px;
      background-color: white;
    }
  </style>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body></html>